/*- Custom style -*/

ul.sponsor {
    li {
        display: inline-block;
    }

    a {
        display: block;
    }

    img {
        display: inline;
        vertical-align: middle;
        margin: 5px;

    }
}

.credits {
    font-size: 0.8em;
    margin-top: 10px;

    a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}
